{% extends "UserBundle::layout.html.twig" %}
{% block title %}Home{% endblock %}
{% block eene_user_content %}

	<div class="row">
              <div class="panel panel-primary">
				  <div class="panel-heading">{% if tableEntities|length > 0 %}
			           {{ tableEntities|length  }} 'entitie(s)' in '{{ tableEntities[0].nerdFile.name}}'
			             {% endif %}
                 </div>
				   <div class="panel-body">
			             <table id="tableentities"  class="table table-striped table-bordered table-hover" cellspacing="0" width="100%">
			                 <thead>
							      <tr>
							        <th>Entity</th>
							        <th>Text Position</th>
							         <th>Extractor</th>
							        <th>Extractor Type</th>
							        <th>NERD Type</th>
							        <th>EENE Type</th>
							      </tr>
							</thead>
							<tbody>
							{% for entity in tableEntities %}
							      <tr>
								     <td>{{ entity.label }}</td>
								     <td> 
			
								       {{ entity.startChar}}
								   
								     </td>
								      <td>
			                           {{ entity.extractor}}
			
							        </td>
							        <td>
							        
                              {% set arrayExtractorType = entity.extractorType|split(',') %}
					        	    {% for value in arrayExtractorType%}
	                                      {{ value}}{% if not loop.last %}, {% endif %}<br />
	                                {% endfor %}
			
							        </td>
							        <td>
			                           {{ entity.nerdType}}
			
							        </td>
								      <td>
								     {% if entity.nerdType=='Location' %}
								      	  Spatial Entity
								      	  {% elseif entity.nerdType=='Time' %}
								      	  Temporal Entity
								      	  {% else %}
								      	  Other Entity
			                             {% endif %}
							        </td>
							      
							      </tr>
			            
			                    {% endfor %}
			               </tbody>
			  
			            </table>
			    </div>
			</div>
    
  	</div>
	

  {% endblock %}
  {% block javascripts %}

    <script src="{{ asset('') }}"></script> 
{% endblock %}